<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ddns.andrewnetwork.ludothornsoundbox">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MvpApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_action_launcher_1"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_action_launcher_1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="net.ddns.andrewnetwork.ludothornsoundbox.utils.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <service
            android:name=".service.FireBaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3889032681139142~8858308706" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_action_launcher_1_layer" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.web.WebActivity"
            android:label="@string/web_browser_label" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/PreferenceActivityTheme" />

        <activity
            android:name=".ui.settings.activity.icons.SettingsIconActivity"
            android:label="@string/action_icon_preferences"
            android:theme="@style/PreferenceActivityTheme" />
        <activity
            android:name=".ui.settings.activity.hiddenaudio.SettingsHiddenAudioActivity"
            android:label="@string/audio_nascosti_label"
            android:theme="@style/PreferenceActivityTheme" />
        <activity
            android:name=".ui.settings.activity.navigationItems.SettingsNavigationItemsActivity"
            android:label="@string/cambia_ordine_title"
            android:theme="@style/PreferenceActivityTheme" />
        <activity
            android:name=".ui.settings.activity.credits.CreditsActivity"
            android:label="@string/credits_title"
            android:theme="@style/PreferenceActivityTheme" />
        <activity android:name=".ui.main.BlankFragmentActivity" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.social.SocialActivity"
            android:label="@string/social_header_title"
            android:theme="@style/PreferenceActivityTheme" />
        <activity android:name=".ui.videoinfo.VideoInformationActivity">
            <intent-filter>
                <action android:name="OPEN_VIDEOS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivity1"
            android:enabled="true"
            android:icon="@mipmap/ic_action_launcher_1_layer"
            android:label="@string/app_name"
            android:targetActivity=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivity2"
            android:enabled="false"
            android:icon="@mipmap/ic_action_launcher_2_layer"
            android:label="@string/app_name"
            android:targetActivity=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivity3"
            android:enabled="false"
            android:icon="@mipmap/ic_action_launcher_3_layer"
            android:label="@string/app_name"
            android:targetActivity=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>